<div>

  <h4>GLASS PRESCRIPTION</h4>
    <table class="table table-borderless" id="glassprescriptiontable">
      <thead class="thead-light">
        <tr>
          <th scope="col"></th>
          <th scope="col" colspan="4" style="border-right: solid 1px white; text-align: center;">Right Eye</th>
          <th scope="col" colspan="4" style="text-align: center;">Left Eye</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td>SPH</td>
          <td class="">CYL</td>
          <td>AXIS</td>
          <td>V/A</td>
          <td>SPH</td>
          <td>CYL</td>
          <td>AXIS</td>
          <td>V/A</td>
        </tr>
        <tr>
          <th scope="row">DV</th>
          <td><input type="text" name="gpDVrightSPH" class="form-control" /></td>
          <td class=""><input type="text" name="gpDVrightCYL" class="form-control" /></td>
          <td><input type="text" name="gpDVrightAXIS" class="form-control" /></td>
          <td><input type="text" name="gpDVrightVA" class="form-control" /></td>
          <td><input type="text" name="gpDVleftSPH" class="form-control" /></td>
          <td><input type="text" name="gpDVleftCYL" class="form-control" /></td>
          <td><input type="text" name="gpDVleftAXIS" class="form-control" /></td>
          <td><input type="text" name="gpDVleftVA" class="form-control" /></td>
        </tr>
        <tr>
          <th scope="row">NV</th>
          <td><input type="text" name="gpNVrightSPH" class="form-control" /></td>
          <td class=""><input type="text" name="gpNVrightCYL" class="form-control" /></td>
          <td><input type="text" name="gpNVrightAXIS" class="form-control" /></td>
          <td><input type="text" name="gpNVrightVA" class="form-control" /></td>
          <td><input type="text" name="gpNVleftSPH" class="form-control" /></td>
          <td><input type="text" name="gpNVleftCYL" class="form-control" /></td>
          <td><input type="text" name="gpNVleftAXIS" class="form-control" /></td>
          <td><input type="text" name="gpNVleftVA" class="form-control" /></td>
        </tr>

      </tbody>
    </table>

</div>
