<div class="tab-content mt-5" id="myTabContent">

  <%- include("dashboard-tab-contents/search-tab"); -%>

  <%- include("dashboard-tab-contents/add-tab"); -%>

  <%- include("dashboard-tab-contents/account-and-logout-tab"); -%>

</div>
