<%- include("partials/headers/homeHeader"); -%>

<div class="row justify-content-center mt-5 mb-5">
  <div class="col col-8">
    <h2 class="pageTitle">About</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Tempus quam pellentesque nec nam aliquam sem. Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Id
      volutpat lacus laoreet non curabitur gravida arcu ac. Aliquam ultrices sagittis orci a scelerisque purus semper eget duis.
       Ligula ullamcorper malesuada proin libero nunc. Pretium aenean pharetra magna ac placerat. Ut aliquam purus sit amet luctus
      venenatis lectus magna fringilla. Pellentesque elit eget gravida cum sociis natoque penatibus et magnis. Id eu nisl nunc mi
       ipsum faucibus vitae. Nibh ipsum consequat nisl vel pretium lectus quam id. Nunc sed blandit libero volutpat sed cras
      ornare arcu. Est ultricies integer quis auctor. Ut etiam sit amet nisl purus in mollis nunc. Nulla facilisi cras fermentum
      odio eu feugiat pretium nibh. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus. Quis enim lobortis
      scelerisque fermentum dui faucibus in ornare. Tincidunt dui ut ornare lectus sit. In massa tempor nec feugiat nisl pretium
      fusce id.
    </p>
  </div>
</div>


<%- include('partials/headers/homeFooter'); -%>
