<%- include("partials/headers/homeHeader"); -%>


<div class="row justify-content-center pt-5 pb-5 mt-5 mb-4">
  <div class="col col-6">
    <h2 class="pageTitle">Contacts</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>
</div>



<%- include('partials/headers/homeFooter'); -%>
