<%- include("partials/headers/homeHeader"); -%>


<div class="welcome">
  <div class="row justify-content-center">
    <div class="col col-lg-10 col-sm-11">
      <h1> WELCOME </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Neque gravida in fermentum et. Bibendum est ultricies integer quis auctor
        elit sed vulputate mi. Id leo in vitae turpis massa sed. Sed faucibus turpis
        in eu mi bibendum neque egestas congue.
      </p>
    </div>
  </div>
  <div class="row justify-content-center pt-md-5 pt-2">
    <div class="col col-4">
    <a href="/login">  <button class="btn btn-lg btn-primary btn-block shadow" type="button" name="loginButton">  Login  </button> </a>
    </div>
  </div>
</div>



<%- include('partials/headers/homeFooter'); -%>
