<%- include("partials/headers/homeHeader"); -%>

<!--registration error message display are -->
<div class="text-danger text-center font-weight-bold">
  <%= causeOfError %>
</div>

<div class="row justify-content-center">
  <div class="col col-6">
    <form class="shadow mb-lg-5 mb-sm-3 mt-lg-5 mt-sm-3 p-3" action="/register" method="post"
     name="registerForm" id="registerForm" onsubmit="return Validate()">
      <div class="form-group" id="name_div">
        <label for="companyName">Company name</label>
        <input type="text" class="form-control" id="companyName" name="username" placeholder="Enter the name of registered company" />
        <div id="name_error"></div>
      </div>
      <div class="form-group" id="regNo_div">
        <label for="companyReg">Registration number</label>
        <input type="text" class="form-control" id="compnayReg" name="companyRegNo" placeholder="Enter registration number of your company" />
        <div id="regNo_error"></div>
      </div>
      <div class="form-group" id="address_div">
        <label for="companyAddress">Company Address</label>
        <input type="text" class="form-control" id="companyAddress" name="companyAddress" placeholder="Enter address of your company" />
        <div id="address_error"></div>
      </div>
      <div class="form-group" id="email_div">
        <label for="companyEmail">Email address</label>
        <input type="email" class="form-control" id="companyEmail" name="companyEmail" placeholder="Enter email" />
        <div id="email_error"></div>
      </div>
      <div class="form-group" id="password_div">
        <label for="companyPassword">Password</label>
        <input type="password" class="form-control" id="companyPassword" name="password" placeholder="Password"/>
      </div>
      <div class="form-group" id="pass_confirm_div">
        <label for="confirmCompanyPassword">Confirm Password</label>
        <input type="password" class="form-control" name="confirmCompanyPassword" id="confirmCompanyPassword"/>
        <div id="password_error"></div>
      </div>
      <div class="mt-lg-2 mt-sm-1">
        <button type="submit" class="btn btn-primary">Register</button>
        <a class="pl-5 mt-lg-2 mt-sm-1" href="/login">Have an account? Login</a>
      </div>
    </form>
  </div>
</div>

<script>

  // SELECTING ALL TEXT ELEMENTS
  const name = document.forms['registerForm']['username'];
  const regNo = document.forms["registerForm"]["companyRegNo"];
  const address = document.forms["registerForm"]["companyAddress"];
  const email = document.forms['registerForm']['companyEmail'];
  const password = document.forms['registerForm']['password'];
  var password_confirm = document.forms['registerForm']['confirmCompanyPassword'];
  // SELECTING ALL ERROR DISPLAY ELEMENTS
  var name_error = document.getElementById('name_error');
  var regNo_error = document.getElementById("regNo_error");
  var address_error = document.getElementById("address_error");
  var email_error = document.getElementById('email_error');
  var password_error = document.getElementById('password_error');
  // SETTING ALL EVENT LISTENERS
  name.addEventListener('blur', nameVerify, true);
  regNo.addEventListener("blur", regNoVerify, true);
  address.addEventListener("blur", addressVerify, true);
  email.addEventListener('blur', emailVerify, true);
  password.addEventListener('blur', passwordVerify, true);
  // validation function
  function Validate() {
    // validate username
    if (name.value === "") {
      name.style.border = "1px solid red";
      document.getElementById('name_div').style.color = "red";
      name_error.textContent = "Username is required";
      name.focus();
      return false;
    }
    // validate username
    if (name.value.length < 3) {
      name.style.border = "1px solid red";
      document.getElementById('name_div').style.color = "red";
      name_error.textContent = "Username must be at least 3 characters";
      name.focus();
      return false;
    }
    //validate regNo
    if(regNo.value === ""){
      regNo.style.border = "1px solid red";
      document.getElementById("regNo_div").style.color = "red";
      regNo_error.textContent = "Registration number is required";
      regNo.focus();
      return false;
    }
    //validate address
    if(address.value === ""){
      address.style.border = "1px solid red";
      document.getElementById("address_div").style.color = "red";
      address_error.textContent = "Address is required";
      address.focus();
      return false;
    }
    // validate email
    if (email.value === "") {
      email.style.border = "1px solid red";
      document.getElementById('email_div').style.color = "red";
      email_error.textContent = "Email is required";
      email.focus();
      return false;
    }
    // validate password
    if (password.value === "") {
      password.style.border = "1px solid red";
      document.getElementById('password_div').style.color = "red";
      password_confirm.style.border = "1px solid red";
      password_error.textContent = "Password is required";
      password.focus();
      return false;
    }
    // check if the two passwords match
    if (password.value !== password_confirm.value) {
      password.style.border = "1px solid red";
      document.getElementById('pass_confirm_div').style.color = "red";
      password_confirm.style.border = "1px solid red";
      password_error.innerHTML = "The two passwords do not match";
      return false;
    }
  }
  // event handler functions
  function nameVerify() {
    if (name.value !== "") {
     name.style.border = "1px solid #5e6e66";
     document.getElementById('name_div').style.color = "#5e6e66";
     name_error.innerHTML = "";
     return true;
    }
  }
  function regNoVerify(){
    if(regNo.value !== ""){
      regNo.style.border = "1px solid #5e6e66";
      document.getElementById("regNo_div").style.color = "#5e6e66";
      regNo_error.innerHTML = "";
      return true;
    }
  }
  function addressVerify(){
    if(address.value !== ""){
      address.style.border = "1px solid #5e6e66";
      document.getElementById("address_div").style.color = "#5e6e66";
      address_error.innerHTML = "";
      return true;
    }
  }
  function emailVerify() {
    if (email.value !== "") {
    	email.style.border = "1px solid #5e6e66";
    	document.getElementById('email_div').style.color = "#5e6e66";
    	email_error.innerHTML = "";
    	return true;
    }
  }
  function passwordVerify() {
    if (password.value !== "") {
    	password.style.border = "1px solid #5e6e66";
    	document.getElementById('pass_confirm_div').style.color = "#5e6e66";
    	document.getElementById('password_div').style.color = "#5e6e66";
    	password_error.innerHTML = "";
    	return true;
    }
    if (password.value === password_confirm.value) {
    	password.style.border = "1px solid #5e6e66";
    	document.getElementById('pass_confirm_div').style.color = "#5e6e66";
    	password_error.innerHTML = "";
    	return true;
    }
  }

</script>

<%- include('partials/headers/homeFooter'); -%>
