<div class="">
  <h4>FUNDUS</h4>
  <div class="bg-img-fundus">
    <div class="slit-lamp-input">
      <div class="row justify-content-center">
        <div class="col-2 py-2">
          <input type="text" name="fundusInput1" value="">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-2 py-2">
          <input type="text" name="fundusInput2" value="">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-2 py-2">
          <input type="text" name="fundusInput3" value="">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-2 py-2">
          <input type="text" name="fundusInput4" value="">
        </div>
      </div>
    </div>
  </div>
</div>
