<div class="gonioscopy">
  <h4>GONIOSCOPY</h4>
  <div class="bg-img-gonioscopy">

          <input type="text" id="input11" name="gonioscopyInput11" value="">

          <input type="text" id="input12" name="gonioscopyInput12" value="">

          <input type="text" id="input21" name="gonioscopyInput21" value="">

          <input type="text" id="input22" name="gonioscopyInput22" value="">

          <input type="text" id="input23" name="gonioscopyInput23" value="">

          <input type="text" id="input24" name="gonioscopyInput24" value="">

          <input type="text" id="input31" name="gonioscopyInput31" value="">

          <input type="text" id="input32" name="gonioscopyInput32" value="">


  </div>
</div>
