<div>
  <h4>INTRAOCULAR PRESSURE</h4>

  <table class="table table-borderless" id="pgptable">
    <thead class="thead-light">
      <tr>
        <th scope="col">METHOD</th>
        <th scope="col">OD</th>
        <th scope="col">OS</th>
        <th scope="col">TIME</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><input type="text" name="intraocularMethod" class="form-control" value=""/></th>
        <td><input type="text" name="intraocularOD" class="form-control" /></td>
        <td><input type="text" name="intraocularOS"  class="form-control"/></td>
        <td><input type="text" name="intraocularTime"  class="form-control"/></td>
      </tr>
    </tbody>
  </table>
</div>
