<div>
  <h4>OCULAR MOTILITY</h4>

  <table class="table table-borderless" id="pgptable">
    <thead class="thead-light">
      <tr>
        <th scope="col" class="w-25">EYE</th>
        <th scope="col" class="w-75">DESCRIPTION</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><input type="text" name="ocularODEye" class="form-control" value="OD" readonly/></th>
        <td><input type="text" name="ocularODDescription" class="form-control" /></td>
      </tr>
      <tr>
        <th scope="row"><input type="text" name="ocularOSEye" class="form-control" value="OS" readonly/></th>
        <td><input type="text" name="ocularOSDescription" class="form-control" /></td>
      </tr>
    </tbody>
  </table>
</div>
