<div>
  <h4>PREVIOUS GLASS PRECRIPTION</h4>

  <table class="table table-borderless" id="pgptable">
    <thead class="thead-light">
      <tr>
        <th scope="col">EYE</th>
        <th scope="col">SPHERICAL</th>
        <th scope="col">CYLINDER</th>
        <th scope="col">AXIS</th>
        <th scope="col">ADDITION</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><input type="text" name="pgpODEye" class="form-control" value="OD" readonly/></th>
        <td><input type="text" name="pgpODSpherical" class="form-control" /></td>
        <td><input type="text" name="pgpODCylinder"  class="form-control"/></td>
        <td><input type="text" name="pgpODAxis"  class="form-control"/></td>
        <td><input type="text" name="pgpODAddition"  class="form-control"/></td>
      </tr>
      <tr>
        <th scope="row"><input type="text" name="pgpOSEye" class="form-control" value="OS" readonly/></th>
        <td><input type="text" name="pgpOSSpherical" class="form-control" /></td>
        <td><input type="text" name="pgpOSCylinder"  class="form-control"/></td>
        <td><input type="text" name="pgpOSAxis"  class="form-control"/></td>
        <td><input type="text" name="pgpOSAddition"  class="form-control"/></td>
      </tr>
    </tbody>
  </table>
</div>
