<div>
  <h4>RETINOSCOPY / AUTOREFRACTOMETRY</h4>

  <table class="table table-borderless" id="pgptable">
    <thead class="thead-light">
      <tr>
        <th scope="col">EYE</th>
        <th scope="col">SPHERICAL</th>
        <th scope="col">CYLINDER</th>
        <th scope="col">AXIS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><input type="text" name="retinoscopyODEye" class="form-control" value="OD" readonly/></th>
        <td><input type="text" name="retinoscopyODSpherical" class="form-control" /></td>
        <td><input type="text" name="retinoscopyODClinder"  class="form-control"/></td>
        <td><input type="text" name="retinoscopyODAxis"  class="form-control"/></td>
      </tr>
      <tr>
        <th scope="row"><input type="text" name="retinoscopyOSEye" class="form-control" value="OS" readonly/></th>
        <td><input type="text" name="retinoscopyOSSpherical" class="form-control" /></td>
        <td><input type="text" name="retinoscopyOSCylinder"  class="form-control"/></td>
        <td><input type="text" name="retinoscopyOSAxis"  class="form-control"/></td>
      </tr>
    </tbody>
  </table>
</div>
