<div>
  <h4>VISION</h4>

<!-- main heading -->
  <div class="">
    <div class="row mx-1">
      <div class="col-6 bg-light border border-white" style="text-align: center; font-weight: bold;">WITHOUT GLASS</div>
      <div class="col-6 bg-light border border-white" style="text-align: center; font-weight: bold">WITH GLASS</div>
    </div>
<!-- sub heding -->
    <div class="row mx-1">
      <div class="col-6 bg-light border border-white" style="text-align: center; font-weight: 400;">
        <div class="row">
          <div class="col">EYE</div>
          <div class="col">DISTANCE</div>
          <div class="col">NEAR</div>
          <div class="col">NEAR DIST.</div>
        </div>
      </div>
      <div class="col-6 bg-light border border-white" style="text-align: center; font-weight: 400;">
        <div class="row">
          <div class="col">DISTANCE</div>
          <div class="col">NEAR</div>
          <div class="col"> NEAR DIST.</div>
        </div>
      </div>
    </div>
<!-- first data row -->
    <div class="row mx-1">
      <div class="col-6 bg-light border border-white">
        <div class="row">
          <div class="col"><input type="text" name="visionGlassODEye" class="form-control" value="OD" readonly /></div>
          <div class="col"><input type="text" name="visionGlassODDistance" class="form-control" /></div>
          <div class="col"><input type="text" name="visionGlassODNear" class="form-control" /></div>
          <div class="col"><input type="text" name="visionGlassODNearDist" class="form-control" /></div>
        </div>
      </div>
      <div class="col-6 bg-light border border-white">
        <div class="row">
          <div class="col"><input type="text" name="visionODDistance" class="form-control" /></div>
          <div class="col"><input type="text" name="visionODNear" class="form-control" /></div>
          <div class="col"><input type="text" name="visionODNearDist" class="form-control" /></div>
        </div>
      </div>
    </div>
<!-- second data row -->
    <div class="row mx-1">
      <div class="col-6 bg-light border border-white">
        <div class="row">
          <div class="col"><input type="text" name="visionGlassOSEye" class="form-control" value="OS" readonly /></div>
          <div class="col"><input type="text" name="visionGlassOSDistance" class="form-control" /></div>
          <div class="col"><input type="text" name="visionGlassOSNear" class="form-control" /></div>
          <div class="col"><input type="text" name="visionGlassOSNearDist" class="form-control" /></div>
        </div>
      </div>
      <div class="col-6 bg-light border border-white">
        <div class="row">
          <div class="col"><input type="text" name="visionOSDistance" class="form-control" /></div>
          <div class="col"><input type="text" name="visionOSNear" class="form-control" /></div>
          <div class="col"><input type="text" name="visionOSNearDist" class="form-control" /></div>
        </div>
      </div>
    </div>

  </div>
</div>
