<div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab">
  <h5>account setting tab</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempus egestas sed sed risus. Urna porttitor rhoncus dolor purus non enim. Semper quis lectus nulla at. Nibh cras
    pulvinar mattis nunc sed blandit. Dui ut ornare lectus sit. Arcu cursus vitae congue mauris rhoncus aenean. Vel pretium lectus quam id leo in vitae turpis. Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Ipsum
    dolor sit amet consectetur adipiscing.</p>
</div>
<div class="tab pane fade" id="logout" role="tabpanel" aria-labelledby="logout-tab">
  <p> Logging out ... </p>
</div>
